{% extends "layouts/base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="row">
    {% include "layouts/menu.html" %}
    <div class="col">
        <div class="card card-content">
            <div class="card-header bg-light py-4">
                <strong>{{ object.name }}</strong>
            </div>
            <div class="container-fluid my-4">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-lg-3 my-2">
                        <ul class="list-group">
                            <li class="list-group-item py-4">
                                <div class="d-flex justify-content-between">
                                    Quantity in Inventory
                                    <strong>{{ object.quantity }}</strong>
                                </div>
                            </li>
                            <li class="list-group-item py-4">
                                <div class="d-flex justify-content-between">
                                    Scheduled for Production
                                    <strong>{{ object.planned }}</strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 my-2">
                        <ul class="list-group">
                            <li class="list-group-item py-4">
                                <div class="d-flex justify-content-between">
                                    On Purchase Order 
                                    <strong>{{ object.purchased }}</strong>
                                </div>
                            </li>
                            <li class="list-group-item py-4">
                                <div class="d-flex justify-content-between">
                                    On Sales Order
                                    <strong>{{ object.sold }}</strong>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid my-2">
                <div class="row my-2">
                    <div class="col">
                        <div class="card my-2">
                            <div class="card-header py-4">
                                <strong>{{ object.name }} Transactions</strong>
                            </div>
                            <div class="card-body content">
                                <div class="text-right my-3">
                                    
                                </div>
                                {% if object.ledger %}
                                <ul class="list-group list-group-flush">
                                    {% for obj in object.ledger %}
                                    <a href="" class="list-group-item list-group-item-action py-4">
                                        <div class="d-flex justify-content-between">
                                            <span class="mr-3">{{ obj.name }}</span>
                                            {{ obj.amount }}
                                        </div>
                                    </a>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <div class="alert alert-dismissible alert-dark py-3 my-4 mx-3">
                                    <button type="button" class="close py-3" data-dismiss="alert">&times;</button>
                                    No transactions exist yet for this product.
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
