{% extends "layouts/base.html" %}
{% load humanize %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="row">
    {% include "layouts/menu.html" %}
    <div class="col">
        <div class="card card-content">
            <div class="card-header bg-light py-4">
                <strong>{{ object.supplier }} <br />Purchase Order: {{ object.pk }}</strong>
            </div>
            <div class="container-fluid my-4">
                <div class="row">
                    <div class="col content">
                        <div class="text-right mr-3 text-secondary">Quantity</div>
                        <ul class="list-group list-group-flush">
                            {% for obj in object.purchase_order_lines.all %}
                                <li class="clickable list-group-item list-group-item-action py-4" data-toggle="modal" data-target="#{{ obj.pk }}Modal">
                                    <div class="d-flex justify-content-between">
                                        <span>{{ obj.product.product }}</span>
                                        {{ obj.quantity }}
                                    </div>
                                </li>
                                <div class="modal" id="{{ obj.pk }}Modal" tabindex="-1" role="dialog" aria-labelledby="{{ obj.pk }}ModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h6 class="modal-title" id="{{ obj.pk }}ModalLabel">Editing received quantity of {{ obj.product.product }}</h6>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ...
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-success">Save changes</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </ul>
                        <div class="text-right mr-3 my-4"><small class="text-muted">Total Order Value:</small> &nbsp; £{{ object.value|floatformat:2|intcomma }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
