{% extends "layouts/base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="row">
    {% include "layouts/menu.html" %}
    <div class="col">
        <div class="card">
            <div class="card-header bg-light py-4">
                <strong>Suppliers</strong>
            </div>
            <div class="container-fluid mb-4">
                <div class="row">
                    <div class="col content">
                        <div class="text-right mr-3 text-secondary headers">
                            <a href="{% url 'supplier_create' %}" class="btn btn-outline-success">Create New</a>
                        </div>
                        {% if object_list %}
                        <ul class="list-group list-group-flush">
                            {% for obj in object_list %}
                            <a href="{% url 'supplier_detail' pk=obj.pk %}" class="list-group-item list-group-item-action py-4">
                                <div class="d-flex justify-content-between">
                                    <span class="mr-3">{{ obj.name }}</span>
                                </div>
                            </a>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <div class="alert alert-dismissible alert-dark py-3">
                            <button type="button" class="close py-3" data-dismiss="alert">&times;</button>
                            No suppliers exist yet.
                        </div>
                        {% endif %}
                    {% include "layouts/pagination.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}