{% extends "layouts/base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
<div class="row">
    {% include "layouts/menu.html" %}
    <div class="col">
        <div class="card">
            <div class="card-header bg-light py-4">
                <strong>{{ object.name }}</strong>
                <p class="my-3" style="text-transform: capitalize;">
                    {{ object.address|linebreaksbr }}
                </p>
                <p style="text-transform: uppercase;">{{ object.postcode }}</p>
            </div>
            <div class="container-fluid mb-4">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contacts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="#">Sales Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Supplied Product</a>
                            </li>
                        </ul>
                        <div class="card">
                            <div class="card-header bg-secondary py-4">
                                <strong>Sales Orders</strong>
                            </div>
                            <div class="card-body content">
                                <div class="text-right mr-3 text-secondary headers" style="margin-top: -5rem; padding-bottom: 2rem;">
                                    <a href="{% url 'sales_order_create' pk=object.pk %}" class="btn btn-outline-success">Create New</a>
                                </div>
                                <div class="text-right mr-3 text-secondary headers">Due by Date</div>
                                <ul class="list-group list-group-flush">
                                    {% for obj in object.customer_sales_orders.all %}
                                    <a href="{% url 'customer_detail' pk=obj.pk %}" class="list-group-item list-group-item-action py-4">
                                        <div class="d-flex justify-content-between">
                                            <span class="mr-3">{{ obj.pk }}</span>
                                            {{ obj.ship_by|date:"D dS M Y" }}
                                        </div>
                                    </a>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock content %}
