{% extends "layouts/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% if request.user.is_authenticated %}
<div class="row">
    {% include "layouts/menu.html" %}
    <div class="col">
        <div class="card card-content">
            <div class="card-header bg-light py-4">
                <strong>Creating New Sales Order for {{ customer.name }} </strong>
            </div>
            <div class="container-fluid mb-4">
                <div class="row">
                    <div class="col content">
                        <div class="text-right my-3">Quantity</div>
                        <div class="container-fluid my-3">
                            <ul class="list-group list-group-flush">
                                {% for obj in customer.customer_sold_products.all %}
                                <li class="list-group-item">
                                    <div class="d-flex justify-content-between">
                                        <span class="mr-4 mt-3">{{ obj.name }} &nbsp; (&nbsp;{{ obj.product }}&nbsp;)</span>
                                        <input type="number" class="form-control" style="max-width: 10rem;">
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="container-fluid">
                            <div class="my-5 text-right">
                                <button class="btn btn-sm btn-success px-4" type="submit" value="login">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}