appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.1.0
black==19.3b0
click==7.0
colorama==0.4.1
coverage==4.5.3
more-itertools==7.0.0
pluggy==0.9.0
py==1.8.0
pytest-cov==2.6.1
pytest-django==3.4.8
pytest==4.4.0
six==1.12.0
toml==0.10.0