<div class="col d-none d-lg-block d-xl-block" style="max-width: 20rem;">
    <div class="card">
        <div class="card-header bg-light py-4">
            <strong>Menu</strong>
        </div>
        <div class="list-group list-group-flush">
            {% if request.user.is_staff %}
            <a href="/admin/" class="list-group-item list-group-item-action py-4">Administration</a>
            <a href="/silk/" class="list-group-item list-group-item-action py-4">Silk</a>
            {% endif %}
            <a href="{% url 'index' %}" class="list-group-item list-group-item-action py-4">Dashboards</a>
        </div>
    </div>
</div>