<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">ERP<span class="brand">v</span></a>
        
        <button class="navbar-toggler my-3" style="line-height: 1.4;" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <hr style="border-top: 1px solid rgba(255,255,255,0.2);" />
            <ul class="navbar-nav ml-auto my-2">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <li class="nav-item text-right mx-1">
                    <a class="btn btn-info my-2" href="/admin/">Admin <i class="fas fa-fw fa-user"></i></a>
                </li>
                {% endif %}
                <li class="nav-item text-right mx-1">
                    <a class="btn btn-danger my-2" href="/accounts/logout/?next=/">Logout {{ request.user }} <i class="fas fa-fw fa-user"></i></a>
                </li>
                {% else %}
                <li class="nav-item text-right mx-1">
                    <a class="btn btn-success my-2" href="/accounts/login/">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>