body {
    background: #F8F9FA;
}

.content {
    font-size: 115%;
}

.col-form-label {
    font-size: 90%;
}

.form-control {
    font-size: 110%;
}

.dash-btn {
    color: #515151;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 2.5;
    text-align: center;
    padding-bottom: 2em;
    padding-top: 2em;
    margin-bottom: .5em;
    margin-top: .5em;
}

.fas-dash {
    font-size: 160%;
}

.dash-btn:hover {
    background: #F8F9FA;
    box-shadow: 0 0 0 .1rem rgba(167, 167, 167, 0.25);
    color: #252525;
    text-decoration: none;
}

.clickable {
    cursor: pointer;
}

.card > .list-group:last-child .list-group-item:last-child {
	border-bottom-right-radius: 0rem;
	border-bottom-left-radius: 0rem;
}

.headers {
    padding-bottom: .6rem;
    padding-top: .75rem;
}

.nav-tabs {
    font-weight: 500;
    line-height: 3;
}

.btn {
    line-height: 1.5;
}

.btn-sm {
    line-height: 2.5;
    padding-left: 1rem;
    padding-right: 1rem;
}

.dropdown-menu {
    border-radius: 0 !important;
    padding: 0;
    min-width: 18.3rem;
    margin: 0;
    margin-left: -.5rem !important;
}

.dropdown-menu.dropdown-menu-right.show {
    transform: translate3d(0px, 0px, 0px);
    margin-left: 0rem;
}

.bg-info {
    background-color: rgb(225, 225, 225) !important;
}

.btn-group {
    margin-top: .1rem;
}